<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <link href='http://fonts.googleapis.com/css?family=Arvo|Gloria+Hallelujah|Enriqueta' rel='stylesheet' type='text/css'>

</head>
<body>
  <header class="logo">
    <h1>
      <a href="/"><img src="/media/robot_128.png"></a>
    </h1>
  </header>

  <hr>
  {{ content }}
  <hr>

  <footer>
    <h3 class="intro">
      Hi, this is the blog<br>
      of <u><a target="_blank" href="https://plus.google.com/+IgnasiGarciaFont">Ignacio Garcia Font</a></u><br>
      I enjoy building things.
    </h3>

    <section class="contact foot">
      <a target="_blank" href='https://www.linkedin.com/pub/ignacio-garcia/31/43b/3b'>Linkedn</a>
      &middot;
      <a target="_blank" href='https://twitter.com/igarciafont'>Twitter</a>
      &middot;
      <a target="_blank" href='http://github.com/ignasigarcia'>GitHub</a>
      &middot;
      <a target="_blank" href='https://plus.google.com/+IgnasiGarciaFont'>Google+</a>
      <br>
      <span class="copyright">
        &copy; IGF {{ site.time | date: '%Y' }}
      </span>
    </section>

  </footer>

</body>
</html>
